<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>760968197665-d94bcb0495hl4mrmusqtv10n9pv1a4d2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760968197665-d94bcb0495hl4mrmusqtv10n9pv1a4d2</string>
	<key>API_KEY</key>
	<string>AIzaSyBa2H5LTNvhaiW8UoXP0XrBLZYG09q3VNc</string>
	<key>GCM_SENDER_ID</key>
	<string>760968197665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.influence</string>
	<key>PROJECT_ID</key>
	<string>influence-753d7</string>
	<key>STORAGE_BUCKET</key>
	<string>influence-753d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:760968197665:ios:70374a9fa12caf50439560</string>
</dict>
</plist>